.DS_Store
.env
/.srv/*
!/.srv/custom.ini
/custom.ini
/plugins/akismet
/plugins/redux-framework
/plugins/contact-form-7
/plugins/cf7-mailchimp
/plugins/hello.php
/plugins/mailchimp-for-wp
/plugins/wp-hooks-finder
/plugins/wp-google-maps
/plugins/woocommerce
/plugins/woocommerce-paypal-payments
/plugins/sandbox-payment-gateway
/plugins/yikes-inc-easy-custom-woocommerce-product-tabs
/plugins/super-socializer
/plugins/polylang
/plugins/multilingual-contact-form-7-with-polylang
/plugins/elementor
/plugins/translatepress-multilingual
/plugins/show-current-template
/plugins/pymntpl-paypal-woocommerce
/themes/twentytwentyfive
/themes/twentytwentyfour
/themes/twentytwentythree
/themes/twentytwentytwo