.DS_Store
.env
/.srv/*
!/.srv/custom.ini
/custom.ini
/plugins/akismet
/plugins/redux-framework
/plugins/contact-form-7
/plugins/wp-super-cache
/plugins/cf7-mailchimp
/plugins/hello.php
/plugins/mailchimp-for-wp
/plugins/wp-hooks-finder
/themes/twentytwentyfive
/themes/twentytwentyfour
/themes/twentytwentythree
/themes/twentytwentytwo
/themes/lege/functions-copy.php